<div class="evnt_lnd err_pg">
    <picture>
        <source media="(max-width: 667px)" srcset="./assets/img/page-not-found-667.jpg" class="evnt_bnr">
        <source media="(max-width: 768px)" srcset="./assets/img/page-not-found-768.jpg" class="evnt_bnr">
        <img src="./assets/img/page-not-found-1366.jpg" alt="page not found image" class="evnt_bnr">
    </picture>
    <div class="evnt_wrp">
        <div class="logo_wrp">
            <span style="font-size: 28px; font-weight: bold; color: #fff;">DSG</span>
        </div>
        <div class="">
            <h1>Authentication Error</h1>
        <h5 class="error-header">Sorry about that</h5>
        <div class="evnt_cnt">
            For security reasons, this action is currently restricted. Please contact our support team at <a target="_blank" href="mailto:support@dsg.com" class="error-email">support&#64;dsg.com</a>, referencing incident ID {{redShieldId}} for assistance. For immediate access, kindly go back and log in with a different email address. Thank you.
        </div>
        </div>
    </div>

</div>