<app-red-shield-error *ngIf="maliciousUser === 'true'"></app-red-shield-error>
<ng-container *ngIf="maliciousUser !== 'true'">
<section *ngIf="showLoader" class="loaderwrp">
  <div class="scale-loader">
      <div class="dot-pulse"></div>
  </div>
</section>
<app-header></app-header>
<div class="container relative btm-img-pad">
    <div class="inner-content-wrap">
        <!-- Email ID Page starts here -->
      <form [formGroup]="forgetPasswordForm">
        <div *ngIf="!resetPasswordDone && !emailVerified" class="registration">
          <div class="common-head mb44 mb28-700">
            <h1 class="farro-header mb8">Forgot your password?</h1>
            <p>Enter your email address below to reset your password</p>
          </div>
           <ng-container *ngFor="let ppQuestion of questions">
            <div *ngIf="ppQuestion.mappingField === 'primary_email'" class="reg-wrap mb44 mb28-700">
                <label for="email" class="mb4 d-inline-block">{{ppQuestion.label}}</label>
                <mat-form-field>
                <input [ngClass]="{'input-error':(forgetPasswordForm.get('primary_email')?.hasError('required') || forgetPasswordForm.get('primary_email')?.hasError('pattern') || limitExceededEmail || userNotFound || mailNotFound) && mailSubmitted}"  
                matInput id="email" 
                formControlName="{{'primary_email'}}"
                (keydown.enter)="preventEnter($event)">
                </mat-form-field>
                 <div class="reg-err"
                                *ngIf="(forgetPasswordForm.get('primary_email')?.hasError('required') || forgetPasswordForm.get('primary_email')?.hasError('pattern')) && mailSubmitted && !limitExceededEmail && !userNotFound && !mailNotFound">
                                {{ppQuestion.helpText}}</div>
                <div class="reg-err"
                                *ngIf="(limitExceededEmail && mailSubmitted)">
                                Attempt limit exceeded, please try after some time.</div>
                <div class="reg-err"
                                *ngIf="((userNotFound || mailNotFound) && mailSubmitted)">
                               Please check that your email address is correct. Sign Up instead?</div>
            </div>
            </ng-container>
            <div class="flex items-center justify-center gap12 gap8-700 flex-column-reverse-700">
                <button class="secondary-btn" aria-label="Back to sign in" (click)=" toSignIn ()">Back to sign in</button>
                <button class="primary-btn" type="submit" aria-label="Reset password" (click)=" verifyMailForgetPassword ()">Reset password</button>
            </div>          
        </div>
 
       <!-- Email ID Page ends here -->

       <!-- OTP and passwords setion starts here -->
        <div *ngIf="emailVerified" class="registration">
          <div class="common-head mb44 mb28-700">
            <h1 class="farro-header mb8">Reset your password</h1>
            <p>We have sent a passcode to your mail. Please check your spam folder in case its not appearing in your inbox.</p>
          </div>
          <div *ngIf="passwordCodeSentSuccessfully" class="success-info flex items-center gap16 mb44 mb28-700">
            <img src="assets/icons/success-icon.svg" alt="Passcode resent successfully" width="20" height="20" />
            <p class="success-info-text">Passcode resent successfully</p>
          </div>
          <div class="mb44 mb28-700">
            <div class="otp-wrapper flex items-center mb8 gap24" formGroupName="otpValues">
                <div class="otp-input flex flex-column gap8">
                    <input type="text"
                    [ngClass]="{'input-error': (!forgetPasswordForm.controls['otpValues'].valid || invalidOtp || limitExceeded) && submitted }"
                    formControlName="otpValue1"
                    (keyup)="moveOtpCursor1('otpValue1',$event);"
                    (keydown.enter)="preventEnter($event)"
                    id="otpValue1" maxlength="1" aria-label="OTP Value 1"/>
                </div>
                <div class="otp-input flex flex-column gap8">
                    <input type="text"
                    [ngClass]="{'input-error': (!forgetPasswordForm.controls['otpValues'].valid || invalidOtp || limitExceeded) && submitted }"
                    formControlName="otpValue2"
                    (keyup)="moveOtpCursor1('otpValue2',$event);"
                    (keydown.backspace)="moveOtpCursor2('otpValue1')" 
                    (keydown.enter)="preventEnter($event)"
                    id="otpValue2" maxlength="1" aria-label="OTP Value 2">
                </div>
                <div class="otp-input flex flex-column gap8">
                    <input type="text"
                    [ngClass]="{'input-error': (!forgetPasswordForm.controls['otpValues'].valid || invalidOtp || limitExceeded) && submitted }"
                    formControlName="otpValue3"
                    (keyup)="moveOtpCursor1('otpValue3',$event);"
                    (keydown.backspace)="moveOtpCursor2('otpValue2')" 
                    (keydown.enter)="preventEnter($event)"
                    id="otpValue3" maxlength="1" aria-label="OTP Value 3">
                </div>
                <div class="otp-input flex flex-column gap8">
                    <input type="text"
                    [ngClass]="{'input-error': (!forgetPasswordForm.controls['otpValues'].valid || invalidOtp || limitExceeded) && submitted }"
                    formControlName="otpValue4"
                    (keyup)="moveOtpCursor1('otpValue4',$event);"
                    (keydown.backspace)="moveOtpCursor2('otpValue3')" 
                    (keydown.enter)="preventEnter($event)"
                    id="otpValue4" maxlength="1" aria-label="OTP Value 4">
                </div>
                <div class="otp-input flex flex-column gap8">
                    <input type="text"
                    [ngClass]="{'input-error': (!forgetPasswordForm.controls['otpValues'].valid || invalidOtp || limitExceeded) && submitted }"
                    formControlName="otpValue5"
                    (keyup)="moveOtpCursor1('otpValue5',$event);"
                    (keydown.backspace)="moveOtpCursor2('otpValue4')" 
                    (keydown.enter)="preventEnter($event)"
                    id="otpValue5" maxlength="1" aria-label="OTP Value 5">
                </div>
                <div class="otp-input flex flex-column gap8">
                    <input type="text"
                    [ngClass]="{'input-error': (!forgetPasswordForm.controls['otpValues'].valid || invalidOtp || limitExceeded) && submitted }"
                    formControlName="otpValue6"
                    (keyup)="moveOtpCursor1('otpValue6',$event);"
                    (keydown.backspace)="moveOtpCursor2('otpValue5')" 
                    (keydown.enter)="preventEnter($event)"
                    id="otpValue6" maxlength="1" aria-label="OTP Value 6">
                </div>
            </div>  
            <div class="reg-err"
                                *ngIf="limitExceeded && submitted">
                                Attempt limit exceeded, please try after some time.</div>
                                <div class="reg-err"
                                *ngIf="(invalidOtp || !forgetPasswordForm.controls['otpValues'].valid ) && submitted && !limitExceeded">
                                Please enter a valid passcode</div>
        </div>
        <ng-container *ngFor="let ppQuestion of questions">
            <div *ngIf="ppQuestion.mappingField === 'newPassword'" class="reg-wrap mb8 relative password-field">
                <label for="newPassword" class="mb4 d-inline-block" >{{ppQuestion.label}}</label>
                <mat-form-field>
                <input 
                [ngClass]="{'input-error':(!forgetPasswordForm.controls['password'].valid || invalidPasswordException || passwordNotMatching ) && submitted}" 
                formControlName="{{'password'}}"
                [type]="isNewPasswordTextFieldType ? 'text' : 'password'" 
                matInput id="newPassword"
                (keydown.enter)="preventEnter($event)">
            </mat-form-field>
             <button *ngIf="isNewPasswordTextFieldType" class="qr-password-toggle" (click)="toggleNewPassword()" type="submit">
                <img src="./assets/icons/toggle-on.svg" alt="Hide password"/>
            </button>
             <button *ngIf="!isNewPasswordTextFieldType" class="qr-password-toggle" (click)="toggleNewPassword()" type="submit">
                <img src="./assets/icons/toggle-off.svg" alt="Show password"/>
            </button>
                <div class="reg-err"
                                *ngIf="((!forgetPasswordForm.controls['password'].valid || invalidPasswordException) && submitted)">
                                Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character.</div>
            </div>

            <div class="reg-err"
           *ngIf="forgetPasswordForm.controls[ppQuestion.mappingField]?.hasError('hasSpace')">
          Password cannot contain spaces.
          </div>
            <div *ngIf="ppQuestion.mappingField === 'confirmPassword'" class="reg-wrap mb8 relative password-field">
                <label for="confirmPassword" class="mb4 d-inline-block">{{ppQuestion.label}}</label>
                <mat-form-field>
                <input 
                [ngClass]="{'input-error':passwordNotMatching && submitted}" 
                formControlName="confirmPassword"
                [type]="isConfirmNewPasswordTextFieldType ? 'text' : 'password'" 
                matInput id="confirmPassword"
                (keydown.enter)="preventEnter($event)">
            </mat-form-field>
            <button *ngIf="isConfirmNewPasswordTextFieldType" class="qr-password-toggle" (click)="toggleCofirmNewPassword()" type="button">
                <img src="./assets/icons/toggle-on.svg" alt="Hide password"/>
            </button>
             <button *ngIf="!isConfirmNewPasswordTextFieldType" class="qr-password-toggle" (click)="toggleCofirmNewPassword()" type="button">
                <img src="./assets/icons/toggle-off.svg" alt="Show password"/>
            </button>
                <div class="reg-err"
                                *ngIf="(passwordNotMatching && submitted)">
                                Entered passwords do not match</div>
            </div> 
            </ng-container>
            <div class="flex items-center justify-center gap12 gap8-700 mb16 mt44 mt28-700 flex-column-reverse-700">
                <button class="secondary-btn" aria-label="Resend passcode" (click)="resendPassCode()">Resend passcode</button>
                <button class="primary-btn" type="submit" aria-label="Reset password" (click)="clickResetPassword ()">Reset password</button>
            </div> 
            <div class="text-center">
            <button (click)="backToForgotPwd()" class="link-highlight font-bold bg-unset route-link">Back to forgot password</button>
            </div>           
        </div>
      
       <!-- OTP and passwords setion ends here -->
      
       <!-- Success page starts here -->
       <div *ngIf="resetPasswordDone" class="common-head">
        <h1 class="farro-header mb8">Password updated</h1>
        <p>Your password has been reset. Please proceed to sign in.</p>
      <button class="primary-btn mt44 mt28-700" type="submit" aria-label="Sign in" (click)=" toSignIn ()">Sign in</button>
      </div>
      <!-- Success page ends here -->
        </form> 
    </div>
</div>
</ng-container>